.cowin-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: auto;
  font-family: 'Roboto';
  background-color: #161625;
}
h1 {
  font-size: 28px;
  color: #cbd5e1;
}

.title-data-container {
  margin: 12px 0px;
  justify-content: flex-start;
}
.title-img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  height: 10vh;
}
.title-img-container img {
  object-fit: contain;
  height: inherit;
}
.title-img-container > h1 {
  color: #2cc6c6 !important;
}
.title-data-container h1 {
  color: #cbd5e1;
  margin: 5px 0px;
}
.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  gap: 25px;
}
.chart-container {
  padding: 20px;
  border-radius: 12px;
  background-color: #1c1c2b;
  color: #94a3b8;
}
